#why-choose-container {
  flex-direction: column;
  gap: 60px;
  background-color: var(--principalBackgroundColor);
}
#why-choose-container h2 {
  text-align: center;
}

#why-choose-container .why-choose-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
