#lets-go-container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 50px;
  color: var(--colorBrown);
}

#lets-go-container .lets-go-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#lets-go-container .lets-go-text p {
  font-size: 1.3rem;
  font-weight: 400;
}
